body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background:url(../img/bg.png)no-repeat 0 0;
}

header{
    text-align: right;
    padding:25px;
}


.navpop{
    width:350px;    
    background:#f8f6f4;
    min-height:250px;
    position: relative;
    top:10px;
    height:calc(100vh - 68px);
    overflow-y: auto;  
    display: none;
}

.headerNav  a{
    font-size:15px;
    text-decoration: none;
    color:white;
    display:inline-block;
    padding-left:25px;
}

.navpop-header h3{
    margin:0;
    padding:0;
    font-size:18px;
}

.navPopbody{   
    width:450px;    
}
.navPopbody .carItem{   
    margin-bottom:10px;
}
.navPopbody li{
    margin-bottom:10px;
}
.navPopbody .carItem figure{
    width:100px;
    margin:0;
    padding:0;
}

.img-fluid{
    width:100%;
}
.navPopbody .carItem article{
    padding-left:10px;
    width:75%;
    padding-right:10px;
}

.navPopbody .carItem article .itemLeft{
    width:80%;
    text-align:left;
}

.navPopbody .carItem article .itemLeft h5{
    margin:5px 0 0 0;
    padding:0;
}
 .navPopbody .carItem article .itemLeft p{
    padding-top:0;
    margin:6px 0;
}

.proIncrease a{
    display:inline-block;    
    border:1px solid #eee;
    width:35px;
    height:35px;
    text-align:center;
    line-height:31px;
    text-decoration: none;
    color:#000;
}

.priceDetails{
    background:#fff;
    padding:10px 8px;
}

.priceDetails small{
    display:block;
}

.priceDetails h5{
    margin:0;
    padding:5px 0 0 0;
}
.priceDetails {
    text-align: left;
    align-items: center;
}

.btngreen{
    background:#17b86c;
    padding:10px;
    color:#fff;
    text-transform: uppercase;
}


.addedToCartContainer .cartBody{
    margin-top:10px;
}

.addedToCartContainer .cartHeader{
    justify-content:space-between;
    padding:15px;
    background:#fff;
    box-shadow: 0 2px 3px #ccc;    
}

.addedToCartContainer .cartHeader h3{
    margin:0;
    padding:0;
}

.addedToCartContainer .carItem{
    justify-content: space-between;
    background:#fff;
    padding:5px;
    margin-bottom:10px;
}

.addedToCartContainer .carItem figure{
    width:25%;
    margin:0;
    padding:0;
}
.addedToCartContainer .carItem article{
    padding-left:10px;
    width:75%;
    padding-right:10px;
}

.addedToCartContainer .carItem article  .itemLeft{
    width:80%;
    text-align:left;
}

.addedToCartContainer .carItem article  .itemLeft h5{
    margin:5px 0 0 0;
    padding:0;
    font-size:16px;
}

.addedToCartContainer .carItem article  .itemLeft p{
    padding-top:0;
    margin:25px 0;
}

.addedToCartContainer .lastbtn a{
    width:45%;
    display:inline-block;
    text-align:center;
}

.addedToCartContainer .cartFooter{
    padding:15px;
}
